* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald',
    sans-serif;
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.ativo {
    color: #EB2D2D!important;
}

.linha1 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    top: 15px;
}

.subtitulo-box {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.subtitulo-box > h2 {
    position: relative;
    background: #fff;
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
}

/* Header */

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 18px;
    padding: 0 25px;
    text-transform: uppercase;
    font-style: italic;
}

header nav.desktop ul li a {
    color: #000;
    text-decoration: none;;
}

nav.mobile {
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url('../images/icon_menu.png');
    margin-top: 40px;
    margin-right: 20px;
}

nav.mobile ul {
    width: 100%;
    position: absolute;
    background-color: #fff; 
    text-align: center;
    left: 0;
    top: 110px;
    z-index: 10;
    display: none;
}

nav.mobile li {
    font-size: 18px;
    padding: 20px 0;
    font-style: italic;
    text-transform: uppercase;
}

nav.mobile ul li a {
    text-decoration: none;
    color: #000;
}

/* Banner */

section.banner {
    width: 100%;
    height: 550px;
    min-height: 550px;
    max-height: 700px;
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    width: 300px;
    height: 50px;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
    color: #fff;
    font-size: 23px;
    line-height: 50px;
    margin-bottom: 10px;
    padding-left: 30px;
    text-transform: uppercase;
    font-style: italic;
}

.text-banner div:nth-of-type(2) {
    max-width: 220px;
    position: relative;
    left: -13px;
}

.text-banner div:nth-of-type(3) {
    max-width: 170px;
    position: relative;
    left: -22px;
}

.text-banner div:nth-of-type(4) {
    background-image: url('../images/box-white-text.png');
    background-size: 100% 100%;
    color: #000;
    width: 430px;
    position: relative;
    left: -36px;
}

/* Veículos em Destaque */

section.veiculos-destaque {
    padding: 90px 2%;

}

.vitrine-destaque .vitrine-img {
    background: url('../images/carro1.jpg');
}

section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
    text-align: left;   
}

.vitrine-destaque .vitrine-img {
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid #fff;
}

 .vitrine-destaque h2 {
    padding-left: 8px;
    color: #000;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    padding-left: 8px;
    padding-top: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;

}

.btn1 {
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
    background: #EB2D2D;
    text-decoration:none;
    border-bottom: 3px solid #B21E1E;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    width: 150px;
    font-size: 16px;
}

.vitrine-destaque a {
    margin-left: 8px;
    margin-top: 10px;
}

/* Serviços Descrição */

section.servicos-descricao {
    display: flex;
}

.servicos-left {
    padding: 90px 20px;
    width: 50%;
    background: #242424;
    color: #fff;
    text-align: right;
}

.servicos-left-wraper {
    display: inline-block;
    text-align: left;
    padding-right: 100px;
}

.servicos-left-wraper h2 {
    font-weight: normal; 
    font-style: italic;
    font-size: 30px;
}

.servicos-left-wraper ul {
    margin-top: 20px;
    display: inline-block;
}

.servicos-left-wraper li {
    margin-left: 15px;
}

.servicos-left-wraper a {
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.servicos-right {
    width: 50%;
    padding: 90px 5%;
    background: #EB2D2D;
    color: #fff;
}

.servicos-right h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

.servicos-right .depoimento-single {
    margin-top: 20px;
}

.depoimento-single p {
    font-size: 20px;
}

.navigation {
    margin-top: 30px;
}

.navigation img {
    margin: 0 20px;
    cursor: pointer;
}

.arrows {
    float: left;
}

.nome-depoimento {
    float: right;
    color: #252525;
    font-size: 20px;
}

/* Contato */

section.contato {
    padding: 80px 2%;
}

section.contato form {
    max-width: 600px;
    margin: 50px auto;
}

section.contato .input-wraper {
    float: left;
    padding: 10px;
}

section.contato input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 10px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

section.contato input[type=submit] {
    border: 0;
    cursor: pointer;
    border-bottom: 3px solid #B21E1E;
}









@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 900px) {
    .servicos-left-wraper a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    
    /* Header */

    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    /* Serviços Descrição */

    section.servicos-descricao {
        flex-direction: column;
    }

    .servicos-left {
        width: 100%;
        text-align: center;
        padding: 80px 2%;
    }

    .servicos-left-wraper {
        padding-right: 0;
    }

    .servicos-right {
        padding: 80px 5%;
        width: 100%;
    }

}

@media screen and (max-width: 580px) {

    /* Geral */

    .subtitulo-box > h2 {
       font-size: 23px;
    }

    /* Banner */

    .text-banner {
       padding: 60px 50px;
    }

    .text-banner-single {
        font-size: 18px;
    }

    .text-banner div:nth-of-type(1) {
        max-width: 240px;
        position: relative;
    }

    .text-banner div:nth-of-type(2) {
        max-width: 210px;
        position: relative;
        left: -10px;
    }

    .text-banner div:nth-of-type(3) {
        max-width: 180px;
        position: relative;
        left: -19px;
    }

    .text-banner div:nth-of-type(4) {
        background-image: url('../images/box-white-text.png');
        background-size: 100% 100%;
        color: #000;
        width: 330px;
        position: relative;
        left: -31px;
    }

    /* Vitrine */ 

    .vitrine-destaque {
        float: none;
        width: 80%;
        display: inline-block;
        margin-top: 20px;
        text-align: center;
    }

    .vitrine-destaque a {
        display: inline-block;
    }

    
}

@media screen and (max-width: 450px) {
    
    /* vitrine */

    .vitrine-destaque {
        width: 100%;
    }
}






















