* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat',
    sans-serif;
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    padding: 20px 2%;
}

header .logo img {
    float: left;
    width: 236px;
}

header nav.menu-mobile {
    display: none;
    float: right;
    width: 28px;
    height: 28px;
    background-image: url('../images/menu-mobile.png');
    background-size: 100% 100%;
    cursor: pointer;
}

header nav.menu-mobile ul {
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
    display: none;
}

header nav.menu-mobile ul li {
    padding: 10px;
    text-transform: uppercase;
}

header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul {
    padding: 10px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: #b4b4b4;
}

/* Mosaico */

.mosaico-single {
    float: left;
    width: calc(100% / 6);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    border: 5px solid #fff;
}

.mosaico-single1 {
    background-image: url('../images/galeria/galeria1.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single2 {
    background-image: url('../images/galeria/galeria2.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single3 {
    background-image: url('../images/galeria/galeria3.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single4 {
    background-image: url('../images/galeria/galeria4.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single5 {
    background-image: url('../images/galeria/galeria5.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single6 {
    background-image: url('../images/galeria/galeria6.jpg');
    background-size: cover;
    background-position: center center;
}

.mosaico-single7 {
    background-image: url('../images/galeria/galeria7.png');
    background-size: cover;
    background-position: center center;
}

.mosaico-single8 {
    background-image: url('../images/galeria/galeria8.jpg');
    background-size: cover;
    background-position: center center;
}
.mosaico-single9 {
    background-image: url('../images/galeria/galeria9.jpg');
    background-size: cover;
    background-position: center center;
}
.mosaico-single10 {
    background-image: url('../images/galeria/galeria10.jpg');
    background-size: cover;
    background-position: center center;
}
.mosaico-single11 {
    background-image: url('../images/galeria/galeria11.jpeg');
    background-size: cover;
    background-position: center center;
}
.mosaico-single12 {
    background-image: url('../images/galeria/galeria12.jpg');
    background-size: cover;
    background-position: center center;
}




/* Serviços */

section.servicos > .container {
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;   
    text-align: center;
}

section.servicos .container .box-servico img {
    margin-top: 15px;
}

section.servicos .container .box-servico p {
    color: #fff;
    margin-top: 8px;
    font-size: 13px;
}

section.servicos .container .box-servico h2 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}

section.servicos .container .box-servico:nth-last-of-type(1) {
    width: 30%;
    padding: 20px 2%;
    background: #576975;
}

section.servicos .container .box-servico:nth-last-of-type(2) {
    width: 40%;
    padding: 60px 2%;
    background: #688293;
}

section.servicos .container .box-servico:nth-last-of-type(3) {
    width: 30%;
    padding: 20px 2%;
    background: #576975;
}

/* Perfil */

section.perfil {
    padding: 40px 0;
}

section.perfil .container {
    max-width: 800px;
}

section.perfil .perfil-wraper {
    padding-top: 60%;
    position: relative;
}

section.perfil .perfil-wraper2 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.perfil .img-perfil {
    width: 40%;
    height: 100%;
    background-image: url('../images/img_perfil.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px;
}

section.perfil .texto-perfil {
    width: 60%;
}

section.perfil .texto-perfil h2 {
    font-size: 18px;
    color: #698293;
    text-transform: uppercase;
    padding-left: 20px;
    padding-bottom: 10px;
}
section.perfil .texto-perfil p {
    color: #b4b4b4;
    font-size: 14px;
    padding: 10px 20px;
}

/* Videos */

section.videos {
    padding: 50px 0;
}

section.videos .box-video {
    float: left;
    position: relative;
    border: 5px solid #fff;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);

}

section.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tratamentos */

section.tratamentos {
    padding: 70px 0;
}

section.tratamentos > h2 {
    color: #698293;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

section.tratamentos .container {
    padding: 50px 0;
}

section.tratamentos .tratamento-container {
        float: left;
        width: 33.3%;
}

.tratamento-single {
    padding: 20px;
}

.tratamento-single h2 {
    font-size: 18px;
    color: #737373;
}

.tratamento-single p {
    font-size: 13px;
    color: #b4b4b4;
    padding: 10px 0;
}

/* Depoimentos */

section.depoimentos h2 {
    color: #698293;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

section.depoimentos .container {
    padding: 50px 0;
    max-width: 400px;
}

section.depoimentos .depoimento-single {
    text-align: center;
    padding: 0 2%;
}

.depoimento-single p {
    font-size: 15px;
    color: #b4b4b4;
}

.depoimento-single .nome-depoimento {
    padding: 20px 0;
}

.depoimento-single .nome-depoimento img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.depoimento-single .nome-depoimento span {
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 8px;
}

/* Social */

/* Social Instagram */

.instagram-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #98a5ae;
}

.instagram-chamada img {
    margin-bottom: 8px;
}

.instagram-chamada p {
    color: #fff;
    font-size: 13px;
    padding: 4px 0;
}

.mosaico-social {
    float: left;
    width: 100%;
}

.social-mosaico-img {
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    border: 5px solid #fff;
}

/* Social Mosaico com 9 imagens */

.social-mosaico1 {
    background-image: url('../images/galeria/galeria1.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico2 {
    background-image: url('../images/galeria/galeria2.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico3 {
    background-image: url('../images/galeria/galeria3.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico4 {
    background-image: url('../images/galeria/galeria4.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico5 {
    background-image: url('../images/galeria/galeria5.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico6 {
    background-image: url('../images/galeria/galeria6.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico7 {
    background-image: url('../images/galeria/galeria7.png');
    background-size: cover;
    background-position: center center;
}
.social-mosaico8 {
    background-image: url('../images/galeria/galeria8.jpg');
    background-size: cover;
    background-position: center center;
}
.social-mosaico9 {
    background-image: url('../images/galeria/galeria9.jpg');
    background-size: cover;
    background-position: center center;
}

/* Social Facebook */

.facebook-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #576975;
}

.facebook-chamada img {
    margin-bottom: 8px;
}

.facebook-chamada p {
    color: #fff;
    font-size: 13px;
    padding: 4px 0;
}

/* Contato */

section.contato {
    padding: 60px 2%;
}

section.contato h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #698293;
}

section.contato form {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
}

.form-wraper {
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}

.form-wraper span {
    font-size: 15px;
    color: #b4b4b4;
    display: block;
}

.form-wraper input{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border: 1px solid #dadada;
    margin-top: 8px;
    color: #698293;
}

.form-wraper input::placeholder {
    color: #b4b4b4;
}

.form-wraper textarea {
    width: 100%;
    height: 121px;  
    padding: 15px;
    margin-top: 10px;
    color: #b4b4b4;
}
.form-wraper textarea::placeholder {
    color: #b4b4b4;
}

.form-wraper input[type=submit] {
    width: 100px;
    height: 35px;
    border: 0;
    color: #fff;
    background: #688293;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

/* Footer */

footer {
    padding: 40px 2%;
    background-color: #688293;
}

footer .container {
    max-width: 1000px;
}

footer .footer-block {
    float: left;
    width: 33.3%;
}

.footer-block h2 {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

.footer-block p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}















@media screen and (max-width: 1024px) {

    /* Social */

    .social-mosaico-img {
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaico-social > div:nth-of-type(1n+7) {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    /* Header */

    header nav.menu-mobile {
        display: block;
    }
    header nav.menu-desktop {
        display: none;
    }

    /* Serviços */

    section.servicos > .container {
        flex-direction: column;
    }

    section.servicos .container .box-servico:nth-last-of-type(1) {
        width: 90%;
        max-width: 350px;
    }

    section.servicos .container .box-servico:nth-last-of-type(2) {
        width: 95%;
        max-width: 380px;
    }

    section.servicos .container .box-servico:nth-last-of-type(3) {
        width: 90%;
        max-width: 350px;
    }

    section.perfil .perfil-wraper2 {
        display: inline-block;
        text-align: center;
        height: auto;
        position: static;
    }

    section.perfil .perfil-wraper {
        padding-top: 0;
    }

    section.perfil .img-perfil {
        width: 50%;
        display: inline-block;
        padding-top: 70%;
        height: auto;
    }

    section.perfil .texto-perfil {
        display: inline-block;
        width: 100%;
    }

    section.perfil .texto-perfil p {
        text-align: justify;
    }

    /* Videos */

    section.videos {
        text-align: center;
    }

    section.videos .box-video {
        width: 70%;
        padding-top: calc(70% * 0.6);
        display: inline-block;
        float: none;
    }

    /* Social */

    .social-mosaico-img {
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    .mosaico-social>div:nth-of-type(1n+4) {
        display: none;
    }

    /* Footer */
    footer {
        text-align: center;
    }

    footer .footer-block {
        float: none;
        width: 100%;
        margin: 30px 0;
    }
}

@media screen and (max-width: 580px) {
    section.perfil .img-perfil {
        width: 80%;
        padding-top: 110%;
    }

    /* Videos */

    section.videos .box-video {
        width: 90%;
        padding-top: calc(100% * 0.6);
    }
}














