* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

@font-face {
    src: url('../fonts/OpenSans-Light.ttf');
    font-family: 'Open Sans';
}

.center {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #212343;
    padding: 0 2%;  
}

.header img {
    margin: 15px;
    margin-top: 20px;
    width: 250px;
}

.container-banner {
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center {
    height: 100%;
}

.form {
    width: 400px;
    padding: 10px;
    height: calc(100% + 30px);
    background-color: #fff;
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid #ccc;
}

.form h2 {
    font-weight: normal;
    color: #999;
    font-size: 21px;
}

.input-container {
    margin-top: 20px;
}

.input-container span, .form p {
    display: inline-block;
    width: 100%;
    color: #BBB;
    font-size: 17px;
    font-weight: bold;
}

.form p {
    margin: 20px 0;
}

.input-container input[type=text] {
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

.form input[type=submit] {
    width: 280px;
    height: 56px;
    background-color: #363A6D;
    color: #fff;
    font-size: 25px;
    display: inline-block;
    border: 0;
    cursor: pointer;
    border-bottom: 5px solid #4A5097;
}

.form .input-submit-container {
    text-align: center;
}

.form input[type=submit]:hover {
    background-color: #26294e;
}

.container-list {
    float: left;
    width: 520px;
    height: 270px;
    background-color: rgb(33,35,67,.7);
    margin-top: 100px;
    padding: 30px;
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    color: #fff;
    margin-top: 20px;
}

.container-info {
    padding: 40px 2%;
    background-color:#DDD;
    text-align: center;
}

.container-info h2 {
    font-weight: normal;
}

.container-info p {
    width: 100%;
    max-width: 700px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow {
    width: 50px;
    height: 50px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
    position: relative;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

.container-jobs {
    padding: 90px 2%;
}

.container-jobs h2 {
    text-align: center;
    color: #462663;
}

.container-jobs-box {
    margin-top: 40px;
    text-align: center;
}

.container-jobs-single {
    float: left;
    width: 33.333%;
    padding: 30px;
}

.container-jobs-single p {
    padding: 10px 25px;
    text-align: justify;
}

.footer {
    border-top: 2px solid #888;
    padding: 20px 0;
    text-align: center;
    color: #888;
}

.footer p {
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    .container-banner {
        height: auto;
        padding: 40px 2%;
        text-align: center;
    }

    .form {
        top: 0;
        float: right;
        width: 60%;
        height: 100%;
        max-width: 400px;
    }

    .container-list {
        padding: 30px 0;
        float: left;
        width: 40%;
        max-width: 500px;
        height: auto;
        display: inline-block;
    }

    .input-container input[type=text] {
        width: 100%;
    }

    .form input[type=submit] {
        max-width: 280px;
        width: 100%;
    }

    .container-jobs-single {
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media screen and (max-width: 768px) {
    .container-list {
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form {
        float: none;
        display: inline-block;
        width: 90%;
        margin-top: 30px;
    }

    .container-info p {
        padding: 0 3%;
    }

    .container-jobs-single {
        float: none;
        width: 100%;
        max-width: 600px;
        display: inline-block;
    }
}



















